* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-weight: 450;
}

ul {
    list-style-type: none;

}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: darkorange;
    flex-grow: 1;
    color: white;




}

.signup1 {
    padding: 5px;
    height: 30px;
    width: 100px;
    margin: 0;




}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 7px;
    margin-left: 90px;
    margin-right: 90px;

}

ul,
.link1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 12px;

}

.bold {
    font-weight: 700;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;


    column-gap: 0;
    row-gap: 0;
    width: 50vw;
    max-width: 1200px;
    margin: 0 auto;


}

.top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;



}

.below {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    margin: 90px;
    margin-top: 2px;


    min-height: auto;
}

.awesome {
    display: block;
    font-size: 35px;
    font-weight: 900;
    flex: 1 1 0;
    min-width: 0;



}

.subtext {
    font-size: 15px;

    flex: 1 1 0;
    min-width: 0;
    flex-wrap: wrap;

}

.realbutton {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex: 1 1 0;
    min-width: 0;

}

.jake1 {
    width: 50vw;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    min-height: auto;

}




.card {
    width: 125px;
    height: 125px;

    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #3882f6;





}


.cards {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;





}

.squares {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    text-align: center;
    align-items: center;
    padding: 7px
}

.info {
    font-size: 20px;
    font-weight: 700;

}

.cards li {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.cardbox {
    display: flex;
    justify-content: flex-end;
}

.motivation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0px;

    padding: 40px;

}

.moto {
    font-size: 25px;
    max-width: 45ch;
    margin: 0 auto;
    color: #1f2937;
    font-weight:100;
    font-style:italic;
}

.signoff {
    font-weight: 600;
    align-self: center;
    margin-left: 325px;
    color: #1f2937
}

.bottomchunk {
    background-color: #e5e7eb;
    padding: 25px;

}

.chunk1 {
    padding: 55px;
    background-color: white;



}

.lastsection {
    background-color: white;
    padding: 80px;

}

.bigbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    height: 90px;
    padding: 60px;
    margin-left: 60px;
    border-radius: 15px;



}

span {
    color:black;
}






.container2 {
    background-color: cyan;
}

.signup {
    padding: 5px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-width: 1px;



}

.signup1 {
    padding: 5px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
}

.foottext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 100;
    font-size: smaller;


}


.footnote {
    background-color: #0270;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: smaller;
    margin-top: 20px;

}

